#app, .web-container {
  margin: 0 auto;
  width: 10rem;
  height: 100%;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}  
.clearfix{*height:1%;}  
.spin-mask {
  z-index: 999;
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: .9;
}
.ant-spin {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 400px;
}
