.date-search-wrap {
  // background: #ececec;
  // padding-bottom: 15px;
  .date-search-content {
    padding-top: 40px;
    background: #FFF;
  }
}
.label-bold {
  font-weight: 500;
  color: rgba(0, 0, 0, .85);
}