.login {
  width: 100%;
  padding-top: 120px;
  min-height: 1334px;
  background:linear-gradient(180deg,rgba(25,144,243,1),rgba(73,166,243,1));
  .title-logo {
    margin: 0 auto;
    margin-bottom: 100px;
    width: 380px;
    height: 160px;
    background: url('../../../assets/web/title-logo.png') no-repeat;
    background-size: contain;
  }
  .ant-form-explain {
    width: 580px;
    margin: 0 auto;
  }
  .ant-form-item-children {
    margin: 0 auto;
    display: block;
    width: 580px;
    height: 96px;
  }
  input {
    padding-left: 98px;
    width: 580px;
    height: 96px;
    background:rgba(78,174,255,0.7);
    border-radius: 48px;
    color: #fff;
    border: 0px;
    outline:none;
    cursor: pointer;
  }
  button {
    color: #fff;
    border: none;
    outline:none;
    padding: none;
    cursor: pointer;
  }
  .user-mobile {
    margin-bottom: 28px;
  }
  .user-password {
    margin-bottom: 120px;
  }
  .login-submit {
    margin-top: 120px;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 580px;
    height: 96px;
    background:rgba(255,255,255,1);
    border-radius: 48px;
    font-size:32px;
    color:rgba(24,143,242,1);
    line-height:96px;
  }
  .input-mobile-icon {
    position: absolute;
    top: 24px;
    left: 32px;
    width: 48px;
    height: 48px;
    background: url('../../../assets/web/input-mobile-icon.png') no-repeat;
    background-size: contain;
  }
  .input-password-icon {
    position: absolute;
    top: 24px;
    left: 32px;
    width: 48px;
    height: 48px;
    background: url('../../../assets/web/input-password-icon.png') no-repeat;
    background-size: contain;
  }
  input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #333;
  }
  input::-webkit-input-placeholder{
    font-size:28px;
    color:rgba(216,237,255,1);
  }
  .ant-form-item-children {
    font-size:28px;
    position: relative;
  }
}

